@font-face {
    font-family: 'digital-7';
    src:  url('fonts/digital-7.ttf');
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: beige;
    background: url(images/desk-bg.jpg) no-repeat center center;
    background-size: cover;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    background: url(images/logo-note.png) no-repeat center center;
    background-size: 100%;
    position: absolute;
    top: 5vh;
    left: 12vh;
    height: 25vh;
    width: 25vh;
    transform: rotate(-6deg);
    font-family: 'Kalam', cursive;
    font-size: 1.5vh;
}

#main_wrapper {
    height: 100%;
    width: 60vw;
    display: flex;
    justify-content: center;
}

#notebook {
    height: 72%;
    width: 60vw;
    position: relative;
}

.page_inner {
    height: 50vh;
    width: 50vh;
    z-index: -1;
}

.page {
    height: 90%;
    width: 42vw;
    background-color: #fbfbfb;
    position: absolute;
    border-radius: 0 0 50px 50px;
    box-shadow: 3px 3px 10px rgba(0,0,0,.1);
}

.spiral {
    background: url(images/spiral-top.png) no-repeat top center;
    background-size: 100%;
    height: 100%;
    width: 42vw;
    position: absolute;
    top: 0;
    z-index: 1;
}

.cover_inner {
    z-index: 1;
    flex-direction: column;
    text-align: center;
}

.user_input {
    font-size: 1vw;
    font-family: 'Kalam', cursive;
    flex-direction: column;
    color: black;
}

h1, h2 {
    margin: 0;
}

.choose_board {
    margin-top: 2vh;
}

select[name="choose_board"] {
    background-color: transparent;
    border: 2px solid black;
    font-size: 2.5vh;
    font-family: 'Kalam', cursive;
    padding: 2% 5% 0;
    color: darkblue;
}

.cover_inner p {
    margin: 0;
}

.start_button {
    height: 25%;
    width: 40%;
    color: darkblue;
    border: 2px solid darkblue;
    border-radius: 60% 50% 60% 50%;
    font-size: 3vw;
    font-family: 'Kalam', cursive;
    margin-top: 5%;
    padding-top: 1%;
    cursor: pointer;
}

#footer {
    height: 28%;
    width: 60vw;
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: space-around;
}

#player_1, #player_2 {
    background-size: 100%;
    font-family: 'Kalam', cursive;
}

#player_1 {
    background: url(images/p1-note.png) no-repeat top center;
    top: 0;
    left: 12vh;
    transform: rotate(2deg);
}

#player_2 {
    background: url(images/p2-note.png) no-repeat top center;
    top: 0;
    right: 12vh;
    transform: rotate(-4deg);
}

.player {
    top: 0;
    height: 25vh;
    width: 25vh;
    font-family: 'Kalam', cursive;
    font-size: 1.5vh;
    flex-direction: column;
}

.player_name {
    font-size: 5vh;
    display: block;
}

.player_stats {
    font-size: 2vh;
}

#phone {
    height: 100%;
    width: 30vh;
    background: url(images/timer-phone.png) no-repeat top center;
    background-size: 100%;
    font-family: 'digital-7', sans-serif;
    color: white;
    text-align: center;
}

.phone_content {
    height: 7vh;
    display: block;
    transform: rotate(-4deg);
    margin-right: 5%;
}

.timer {
    font-size: 3vh;
}

.timer_clock{
    font-size: 8vh;
}

.reset {
    font-size: 2vh;
}
.cell{
    border: 1px solid black;
    display: inline-block;
}