* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: beige;
    background: url(images/stock-photo-blank-office-desk-background-with-copy-space-for-your-text-top-view-business-and-office-supplies-220530460.jpg) no-repeat center center;
    background-size: cover;
    font-family: 'Permanent Marker', cursive;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    position: absolute;
    top: 50px;
    left: 50px;
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    background-color: #6a6969;
    border: 10px solid white;
    box-sizing: border-box;
}

#main_wrapper {
    height: 100%;
    width: 60vw;
    display: flex;
    justify-content: center;
}

#notebook {
    height: 80%;
    width: 60vw;
    position: relative;
}

.page_inner {
    height: 30vw;
    width: 30vw;
    background-color: #2d91e6;
    margin-left: 5vw;
    z-index: -1;
}

.page {
    height: 85%;
    width: 45vw;
    background-color: white;
    position: absolute;
    border-radius: 0 50px 50px 0;
    box-shadow: 3px 3px 5px rgba(0,0,0,.3);
}

.binding {
    height: 100%;
    width: 5vw;
    background-color: black;
    position: absolute;
    left: 0;
    z-index: 1;
}

#footer {
    height: 20%;
    width: 60vw;
    background-color: #5f1f18;
    bottom: 0;
    position: fixed;
    display: flex;
    border-top: 2px solid #000;
}

.player {
    height: 100%;
    width: 20vw;
    background-color: yellow;
    display: inline-block;
}

#phone {
    height: 100%;
    width: 20vw;
    background-color: burlywood;
    display: inline-block;
}

.cover_inner {
    z-index: 1;
}

.cover_inner .start_button {
    height: 7vw;
    width: 15vw;
    color: white;
    background-color: green;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 3vw;
}